[project]
name = "pydre"
version = "2024.0.0"
readme = "readme.md"
dependencies = [
    "polars",
    "numpy",
    "scipy",
    "icecream",
    "tqdm",
    "loguru",
    "pandas" # hope we can remove this soon
]
requires-python = ">= 3.9"

[tool.rye]
managed = true
dev-dependencies = [
    "ptpython",
    "mkdocs>=1.6.0",
    "pytest>=8.3.2",
]
